@import "tailwindcss";

@theme {
  --color-primary: #03044f;
  --color-primary-hover: #090c80;
  --color-secondary: #ff8d0a;
  --color-text-primary: #1d2939;
  --color-text-secondary: #667085;
  --color-border: #dde0e8;
  --color-background: #ffffff;
  --color-background-secondary: #f5f6f9;
  --color-gray-25: #fcfcfd;
  --color-gray-700: #364153;
  --color-custom-border: #0068ff;
  --shadow-input: 0px 1px 2px 0px rgba(16, 24, 40, 0.05); 
  --color-dark: #001524;
}

body {
  color: var(--color-text-primary);
  background: var(--color-background);
  font-family: var(--font-inter);
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23667085' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 16px;
  padding-right: 2.5rem;
}

.text-balance {
  text-wrap: balance;
}

.section-container {
  @apply xl:mx-auto max-w-[1200px] md:mx-8 mx-4;
}
